* {
    margin: 0;
    padding: 0;
}

:root {
    --width-main: 650px;
}

/* MAIN PAGE */
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/back.jpg') no-repeat center;
    background-size: cover;
}

.main-nav {
    position: absolute;
    top: 40%;
    left: calc(50% - var(--width-main) / 2);
    height: 100px;
    width: var(--width-main);
}

.main-nav button {
    font: 500 18px 'Arial';
    color: white;
    letter-spacing: 3px;
    margin-right: 40px;
    width: 280px;
    height: 65px;
    border: 2px solid white;
    background: rgba(237, 28, 36, 0.0);
}

