QPlainTextEdit {

    background: rgba(117, 190, 218, 0.0);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font: 400 18px 'Arial';
    letter-spacing: 3px;
}


QScrollBar:vertical {              
    border: none;
    background: white;
    width: 3px;               
    margin: 0px 0px 0px 0px;
}

QPushButton {

    background: rgba(117, 190, 218, 0.0);
    font: 400 18px 'Arial';
    letter-spacing: 3px;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(117, 190, 218, 0.0);
}

QPushButton:hover {
    border-bottom: 2px solid white;
}

#file {
    border: 2px solid white;
}

#file:focus {
    border: 2px solid white;
    color: lightgrey;
    background-color: rgba(196, 192, 192, 0.301);
}

#solve {
    transition: linear 0.5s;
}